.Skills{
    background-color: black;
    color: white;
    margin-bottom: 12%;
}

.Skills .Container{
    display: flex;
    margin: 0 10%;
    align-items: flex-start;
    justify-content: center;
}

.Skills .PageHeader h1{
    margin: 10px;
    text-align: center;
    background: -webkit-linear-gradient(45deg, rgba(253,29,29,1) 30%, rgba(252,176,69,1) 67%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.Skills .List ul{
    list-style-type: none;
    padding: 0
}

.Skills .Container .List{
    flex-basis: 40%;
    text-align: center;
    margin: 0 2%;
}

.Skills .Container .List .ListHead{
    font-size: 20px;
    font-weight: 600;

}