.Work{
    background-image: url('../img/atlanta.jpg');
    background-size:cover; 
}

.WorkCards{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.Card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    background: black;
    margin: 5%;
    padding: 30px;
    border-radius: 5%;
    -webkit-box-shadow: 47px 22px 59px 12px rgba(0,0,0,0.75);
    -moz-box-shadow: 47px 22px 59px 12px rgba(0,0,0,0.75);
    box-shadow: 47px 22px 59px 12px rgba(0,0,0,0.75);
}

.Card .CardHeader{
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 67%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    text-align: center;
    font-weight: 900;
    height: 100px;
}

.Card img{ 
    width: 100%;
    margin-bottom: 15%;
}

.Card .Live, .Card .Repo{
    cursor: pointer;
    position: absolute;
    color: white;
    font-weight: 500;
    font-size: 15px;
    padding: 1% 3%;
    border-radius: 100px;
    bottom: 1%;
    margin: 2%;
    
}

.Card .Live:hover, .Card .Repo:hover{
    background: linear-gradient(90deg, rgba(253,29,29,1) 0%, rgba(252,176,69,1) 67%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Card .Live{
    left: 1%;
}

.Card .Repo{
    right: 1%;
}

@media screen and (min-width: 850px) {
   .Card{
       flex-basis: 30%;
   }
}